input {
  border: 1px solid #eee;
  padding: 5px;
}

.form-container {
  width: 25%;
  height: 50%;
  margin: 0 auto;
  padding: 300px;
  position: relative;
}

form {
  display: inline-block;
  font-size: 20px;
}

form:nth-child(1) {
  float:left;
  width:250px;
}

form:nth-child(2){
  display: inline-block;
  margin:0 auto;
  width:250px;
}

form:nth-child(3){
  float:right;
  width:250px;
}
